<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.labs.Soup"
    android:versionCode="3"
    android:versionName="0.3-preview" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name=".app.SoupApplication"
        android:icon="@drawable/ic_launcher_rt"
        android:label="@string/app_name" >
        <activity
            android:name=".app.StoreActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_store"
            android:launchMode="singleTask"
            android:taskAffinity=".app.StoreActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="apps-store"
                    android:scheme="about" />
            </intent-filter>

            <!--
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            -->


            <!--
            Planned, to be verified 
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apps*.mozilla.org"
                    android:pathPattern="*/apps/*"
                    android:scheme="https" />
                <data
                    android:host="apps*.allizom.org"
                    android:pathPattern="*/apps/*"
                    android:scheme="https" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".app.LauncherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_launcher"
            android:launchMode="singleTask"
            android:taskAffinity=".app.LauncherActivity"
            android:theme="@android:style/Theme.NoTitleBar" >

            <!-- Search -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="apps"
                    android:scheme="about" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".app.AppActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=".app.AppActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="org.mozilla.labs.WEBAPP" />
                <action android:name="org.mozilla.labs.webapp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
            Planned, to be verified
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.mozilla.apps" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".app.SharedSettings"
            android:label="Settings" >
        </activity>

        <!-- Shortcuts -->

        <activity
            android:name=".app.LiveFolderActivity"
            android:icon="@drawable/ic_launcher_rt"
            android:label="@string/app_name_live" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".app.LauncherActivity.Shortcut"
            android:label="@string/app_create_shortcut"
            android:targetActivity=".app.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".provider.AppsProvider"
            android:authorities="org.mozilla.labs.Soup.provider.AppsProvider" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable"
            android:value=".app.AppActivity" />
        <meta-data
            android:name="android.app.default_searchable"
            android:resource="@xml/searchable"
            android:value=".app.AppActivity" />

        <!-- Compat for old shortcuts -->

        <activity-alias
            android:name=".SoupActivity"
            android:label="@string/app_name"
            android:targetActivity=".app.AppActivity" >
            <intent-filter>
                <action android:name="org.mozilla.labs.WEBAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Other manifest items -->

        <service android:name=".service.SyncService" />

        <!--
        <service
            android:exported="true"
            android:name="AuthenticatationService"
            android:process=":auth" >
            <intent-filter >
                <action android:name=".service.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name=".service.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>

        <service
            android:name=".service.SyncService" >
            <intent-filter >
                <action android:name=".service.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name=".service.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        -->
    </application>

</manifest>