<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.labs.Soup"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/soup"
        android:label="@string/app_name"
        android:name=".app.SoupApplication" >
        <activity
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_store"
            android:launchMode="singleTask"
            android:name=".app.StoreActivity"
            android:taskAffinity=".app.StoreActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Planned, to be verified -->
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apps*.mozilla.org"
                    android:pathPattern="*/apps/*"
                    android:scheme="https" />
                <data
                    android:host="apps*.allizom.org"
                    android:pathPattern="*/apps/*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name_launcher"
            android:launchMode="singleTask"
            android:name=".app.LauncherActivity"
            android:taskAffinity=".app.LauncherActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".app.AppActivity"
            android:taskAffinity=".app.AppActivity" >
            <intent-filter >
                <action android:name="org.mozilla.labs.WEBAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Planned, to be verified -->
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.mozilla.apps" />
            </intent-filter>
        </activity>
        <!-- Compat for old shortcuts -->
        <activity-alias
            android:label="@string/app_name"
            android:name=".SoupActivity"
            android:targetActivity=".app.AppActivity" >
            <intent-filter >
                <action android:name="org.mozilla.labs.WEBAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:label="Settings"
            android:name=".app.SharedSettings" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="org.mozilla.labs.Soup.provider.AppsProvider"
            android:name="org.mozilla.labs.Soup.provider.AppsProvider" />

        <!-- Not provided on the Asus tablet -->
        <activity
            android:icon="@drawable/soup"
            android:label="@string/app_name_live"
            android:name=".app.LiveFolderActivity" >
            <intent-filter >
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- It is recommended that you use an activity-alias to provide the "CREATE_SHORTCUT" -->
        <!-- intent-filter.  This gives you a way to set the text (and optionally the -->
        <!-- icon) that will be seen in the launcher's create-shortcut user interface. -->
        <activity-alias
            android:label="@string/app_create_shortcut"
            android:name=".app.LauncherActivity.Shortcut"
            android:targetActivity=".app.LauncherActivity" >

            <!-- This intent-filter allows your shortcuts to be created in the launcher. -->
            <intent-filter >
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <service android:name=".service.SyncService" />
        <service
            android:exported="true"
            android:name="AuthenticatationService"
            android:process=":auth" >
            <intent-filter >
                <action android:name=".service.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name=".service.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>
        <!--
        <service
            android:exported="true"
            android:name=".service.SyncService" >
            <intent-filter >
                <action android:name=".service.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name=".service.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        -->
    </application>

</manifest>